.Gallery img{
    width: 20%;
}
#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 20px;
}
#menu a{
    color: #ffffff;
    font-family: Helvetica,sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    
    color: #5077bd;
}

}
/* Adding border bottom each list items as divider and aligning the text */
.vertical-menu li {
    text-align: center;
    border-bottom: 1px solid #555;
}
/*Removing the right border of the list last item*/
.vertical-menu li:last-child {
    border-bottom: none;
}
/*Changing the background color of the active link item */
.vertical-menu .active {
    background-color: #1cbb09;
}